In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Extração

In [7]:
df = pd.read_csv("bases/olist_orders_dataset.csv").drop_duplicates('order_id')
pedidos = df[df['order_status'] == 'delivered']
pedidos.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00
10,e6ce16cb79ec1d90b1da9085a6118aeb,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 19:41:10,2017-05-16 19:50:18,2017-05-18 11:40:40,2017-05-29 11:18:31,2017-06-07 00:00:00

In [8]:
pedidos_clone = pedidos[['order_id', 'order_approved_at', 'order_delivered_customer_date']]
pedidos_clone.head()

,order_id,order_approved_at,order_delivered_customer_date
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 11:07:15,2017-10-10 21:25:13
1,53cdb2fc8bc7dce0b6741e2150273451,2018-07-26 03:24:27,2018-08-07 15:27:45
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:55:23,2018-08-17 18:06:29
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-11-18 19:45:59,2017-12-02 00:28:42
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-13 22:20:29,2018-02-16 18:17:02

In [22]:
pedidos_clone['order_approved_at'] = pd.to_datetime(pedidos_clone['order_approved_at'])
pedidos_clone['order_delivered_customer_date'] = pd.to_datetime(pedidos_clone['order_delivered_customer_date'])

diferencas_dias = pedidos_clone.groupby('order_id').apply(
    lambda d: (d['order_delivered_customer_date'] - d['order_approved_at']).dt.days)

diferencas_dias_df = diferencas_dias.reset_index(name='diferenca_dias')
diferencas_dias_df = diferencas_dias_df.drop(columns=['level_1'])
diferencas_dias_df.head()

C:\Users\willi.WILL\AppData\Local\Temp\ipykernel_7344\2410539483.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pedidos_clone['order_approved_at'] = pd.to_datetime(pedidos_clone['order_approved_at'])
C:\Users\willi.WILL\AppData\Local\Temp\ipykernel_7344\2410539483.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pedidos_clone['order_delivered_customer_date'] = pd.to_datetime(pedidos_clone['order_delivered_customer_date'])
C:\Users\willi.WILL\AppData\Local\Temp\ipykernel_7344\2410539483.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  diferencas_dias = pedidos_clone.groupby('order_id').apply(

                           order_id  diferenca_dias
0  00010242fe8c5a6d1ba2dd792cb16214             7.0
1  00018f77f2f0320c557190d7a144bdd3            16.0
2  000229ec398224ef6ca0657da4fc703e             7.0
3  00024acbcdf0a6daa1e931b038114c75             6.0
4  00042b26cf59d7ce69dfabb4e55b4fd9            25.0

In [68]:
soma_dias = diferencas_dias_df['diferenca_dias'].sum()
print(soma_dias)
for i in diferencas_dias_df.columns[0:1].tolist():
    total_orders=len(diferencas_dias_df[i].astype(str).value_counts())
    print(total_orders)
    media= soma_dias/total_orders
    print("RESULTADO:")
    print("Media do tempo de entrega:",f'{media:.2f}',"dias")

1122985.0
96478
RESULTADO:
Media do tempo de entrega: 11.64 dias